{% extends 'layouts/base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Hola Laura</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore odit nesciunt adipisci, totam nam omnis in saepe cumque non quia. Neque, sit, culpa asperiores obcaecati voluptas illo quia temporibus tempore mollitia officiis corrupti explicabo facilis at deleniti? Eos, veniam enim? Eligendi inventore repudiandae exercitationem adipisci sint in officia alias a soluta quia maxime quisquam nihil molestias blanditiis vitae, modi culpa nulla iste distinctio vero. Enim eius quaerat voluptatibus laudantium dignissimos consequatur voluptatum libero! Soluta, omnis vitae neque perspiciatis ratione nam unde maiores aliquid sequi sit minus nemo quisquam dolorem provident iste dolore eius ipsa mollitia quibusdam culpa nisi suscipit. Quaerat!</p>

        {% if not user.is_authenticated %}
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">Sign in</a>
            <a class="btn btn-secondary" href="/signup/">Sign up</a>
        </div>
        {% endif %}


    </section>
</main>

{% endblock %}